################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_build
/bin/Debug
/lib/Debug
/bin/Release
/lib/Release
/bin/RelWithDebInfo
/lib/RelWithDebInfo
/bin/.vs/TRRojan/v14/.suo
/bin/TRRojan.VC.VC.opendb
/bin/TRRojan.VC.db
/bin/TRRojan.sln
/trrojancore/include/CImg.h
