################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trrojancore/include/CImg.h
/bin
/lib
*.obj
*.tlog
*.cache
*.log
*.csv
/bin/trrojan/test.png
*.png
*.user
/.vs

# Build folders
/_*/
*.aps
/out/*
