[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "datraw"]
	path = datraw
	url = https://github.com/UniStuttgart-VISUS/datraw.git
