################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_build
/bin/Debug
/lib/Debug
/bin/Release
/lib/Release
